@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #F5F7FA;
  color: #2C3E50;
}
